/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Major+Mono+Display&family=Open+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	text-align: center;
	min-width: 370px;
}

/* Header Section */

.cover {
	background-image: url("../img/bg-artists-collage-compressed.png");
	background-color: #60100B;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.cover a {
	color: white;
}

.header {
	min-width: 370px;
	padding: 1em 1em 2em;
}

.header h1 {
	font-family: 'Major Mono Display', monospace;
}

.logo {
	color: orange;
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 1em;
}

.nav ul {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.search {
	max-width: 250px;
	margin: 0 auto;
	padding-top: 2em;
}

.search input {
	font-size: 1em;
	width: 100%;
	text-align: center;
	border: none;
	border-radius: 15px;
	padding: .4em;
}

/* Hero Section */

.hero {
	padding-top: 80px;
	padding-bottom: 150px;
	color: white;
	min-width: 370px;
}

.hero h1 {
	font-size: 2.5em;
	font-family: 'Kaushan Script', cursive;
}

/* Main Section */

.main {
	background-color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.main a {
	color: orange;
}

.featured {
	color: white;
	background-color: black;
	width: 70%;
	margin: 0 auto .1em;
	padding: 0 1em 1.5em;
	transition: all .3s ease;
}

.featured:hover {
	border-radius: 10px;
}

.featured h3 {
	padding: 1em 0 .5em;
}

.featured img {
	width: 100%;
	max-width: 250px;
}

.caption {
	max-width: 75%;
	margin: 0 auto;
}

/* Footer Section */

.footer {
	text-align: center;
	padding-top: 50px;
	background-color: #60100B;
	background-image: url("../img/bg-millenials.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	min-width: 370px;
	font-size: .8em;
}

.footer a, .footer p {
	color: white;
}

.footer-header {
	color: orange;
	padding-bottom: 1em;
}

.footer-links {
	padding-bottom: 50px;
}

.page-links, .social-links, .contacts {
	padding-bottom: 1.5em;
}

.rights {
	font-size: .7em;
	padding: .5em;
}

/* Media Queries */

@media only screen and (min-width: 750px) {
	/* General Styling */
	
	body {
		font-size: 1.2em;
	}

	/* Header Section */

	.top-header {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		font-size: 1.6em;		
	}

	.nav ul {
		margin-right: .5em;
	}

	.nav li {
		margin-left: 1.5em;
	}

	.search {
		margin-right: 0;
		padding-top: .5em;
	}

	.search input {
		font-size: .8em;
		margin-top: 0;
	}

	/* Hero Section */

	.hero {
		padding-top: 150px;
		padding-bottom: 220px;
	}

	.hero h1 {
		font-size: 3.5em;
		padding-bottom: .5em;
	}

	/* Main Section  */

	.main {
		display: flex;
		flex-wrap: wrap;
	}

	.featured {
		max-width: 50%;
	}
}