/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

nav ul {
	display: grid;
	grid-auto-flow: column;
}

.container {
	text-align: center;
	min-width: 370px;
}

/* Header Section */

.cover {
	background-image: url("../img/bg-artists-collage.png");
	background-color: maroon;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
}

.cover a {
	color: white;
}

.header {
	min-width: 370px;
	padding: 2em 1em;
}

.header h1 {
	font-family: 'Major Mono Display', monospace;
}

.top-header {
	display: grid;
	grid-auto-flow: column;
}

.logo {
	color: white;
	font-size: 1.2em;
}

.search {
	max-width: 250px;
	margin: 0 auto;
	padding-top: 3em;
}

.search input {
	font-size: 1em;
	width: 100%;
	text-align: center;
	border: none;
	border-radius: 5px;
	padding: .6em;
	box-shadow: 1px 1px 3px black;
}

/* Hero Section */

.hero {
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	min-width: 370px;
}

/* Main Section */

.main {
	padding-bottom: 50px;
	background-color: #F5F5F5;
	padding-top: 100px;
}

.featured {
	width: 70%;
	margin: 0 auto .5em;
	padding: 0 1em 1.5em;
	box-shadow: 1px 1px 3px grey;
	transition: all .3s ease;
}

.featured:hover {
	box-shadow: 1px 1px 9px grey;
}

.featured h3 {
	padding: 1em 0 .5em;
}

.featured img {
	width: 100%;
	max-width: 250px;
}

/* Footer Section */

.footer {
	text-align: center;
	padding-top: 50px;
	background-color: maroon;
	background-image: url("../img/bg-hero.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	min-width: 370px;
}

.footer a, .footer p {
	color: white;
}

.footer-links {
	display: grid;
	grid-auto-flow: column;
	padding-bottom: 50px;
}

.rights {
	padding: .5em;
}

/* Media Queries */

